<configuration>
  <configSections>
    <section name="sitecore" type="Sitecore.Configuration.ConfigReader, Sitecore.Kernel" />
  </configSections>
  <sitecore>
    <nuget>
      <configuration type="Sitecore.Strategy.Nuget.Configuration.NugetConfiguration, Sitecore.Strategy.Nuget" singleInstance="true">
        <assemblyPath>C:\Sitecore\sc80\Website\bin</assemblyPath>
        <packages hint="list:AddPackage">
          <package id="Sitecore.Kernel" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
            <param desc="id">$(id)</param>
            <version>8.0</version>
            <authors>Sitecore</authors>
            <description>This package contains the runtime assemblies for Sitecore 8.</description>
            <assemblies hint="list:AddAssembly">
              <assembly>Sitecore.Kernel.dll</assembly>
            </assemblies>
            <dependencies hint="list:AddDependency">
              <dependency id="Microsoft.AspNet.WebPages" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <isMaxInclusive>false</isMaxInclusive>
                <minVersion>3.2.3</minVersion>
                <maxVersion>3.3.0</maxVersion>
              </dependency>
            </dependencies>
          </package>
        </packages>
      </configuration>
    </nuget>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Strategy.Nuget.Pipelines.Initialize.GeneratePackages, Sitecore.Strategy.Nuget">
        </processor>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>