<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <nuget>
      <configuration type="Sitecore.Strategy.Nuget.Configuration.NugetConfiguration, Sitecore.Strategy.Nuget" singleInstance="true">
        <assemblyPath>~/bin</assemblyPath>
        <packages hint="list:AddPackage">
          <package id="Sitecore.Core" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
            <param desc="id">$(id)</param>
            <version>1.0</version>
            <authors>Sitecore</authors>
            <description>This package contains the runtime assemblies for Sitecore.</description>
            <assemblies hint="list:AddAssembly">
              <assembly>Sitecore.Kernel.dll</assembly>
            </assemblies>
            <dependencies hint="list:AddDependency">
              <dependency id="Newtonsoft.Json" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>6.0.5</minVersion>
                <!--
                <isMaxInclusive>false</isMaxInclusive>
                <maxVersion></maxVersion>
                -->
              </dependency>
            </dependencies>
          </package>
          <package id="Sitecore.Configuration" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
            <param desc="id">$(id)</param>
            <version>1.0</version>
            <authors>Sitecore</authors>
            <description>This package contains the assemblies required when using Sitecore's configuration factory.</description>
            <assemblies hint="list:AddAssembly">
              <assembly>Sitecore.Logging.dll</assembly>
              <assembly>Lucene.Net.dll</assembly>
            </assemblies>
            <dependencies hint="list:AddDependency">
              <dependency id="Sitecore.Core" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>1.0</minVersion>
                <!--
                <isMaxInclusive>false</isMaxInclusive>
                <maxVersion></maxVersion>
                -->
              </dependency>
            </dependencies>
          </package>
          <package id="Sitecore.ContentSearch" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
            <param desc="id">$(id)</param>
            <version>1.0</version>
            <authors>Sitecore</authors>
            <description>This package contains the assemblies for Sitecore 7 content search.</description>
            <assemblies hint="list:AddAssembly">
              <assembly>Sitecore.ContentSearch.dll</assembly>
              <assembly>Sitecore.ContentSearch.Linq.dll</assembly>
            </assemblies>
            <dependencies hint="list:AddDependency">
              <dependency id="Sitecore.Core" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>1.0</minVersion>
                <!--
                <isMaxInclusive>false</isMaxInclusive>
                <maxVersion></maxVersion>
                -->
              </dependency>
            </dependencies>
          </package>
          <package id="Sitecore.Analytics" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
            <param desc="id">$(id)</param>
            <version>1.0</version>
            <authors>Sitecore</authors>
            <description>This package contains the assemblies for working with the Sitecore Experience Database.</description>
            <assemblies hint="list:AddAssembly">
              <assembly>Sitecore.Analytics.dll</assembly>
              <assembly>Sitecore.Analytics.Model.dll</assembly>
            </assemblies>
            <dependencies hint="list:AddDependency">
              <dependency id="Sitecore.Core" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>1.0</minVersion>
                <!--
                <isMaxInclusive>false</isMaxInclusive>
                <maxVersion></maxVersion>
                -->
              </dependency>
            </dependencies>
          </package>
          <package id="Sitecore.ContentSearch.Analytics" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
            <param desc="id">$(id)</param>
            <version>1.0</version>
            <authors>Sitecore</authors>
            <description>This package contains the assemblies for working with the Sitecore analytics index.</description>
            <assemblies hint="list:AddAssembly">
              <assembly>Sitecore.ContentSearch.Analytics.dll</assembly>
            </assemblies>
            <dependencies hint="list:AddDependency">
              <dependency id="Sitecore.Analytics" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>1.0</minVersion>
              </dependency>
              <dependency id="Sitecore.ContentSearch" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>1.0</minVersion>
              </dependency>
            </dependencies>
          </package>
          <package id="Sitecore.Mvc" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
            <param desc="id">$(id)</param>
            <version>1.0</version>
            <authors>Sitecore</authors>
            <description>This package contains the assemblies for working with Sitecore MVC.</description>
            <assemblies hint="list:AddAssembly">
              <assembly>Sitecore.Mvc.dll</assembly>
            </assemblies>
            <dependencies hint="list:AddDependency">
              <dependency id="Sitecore.Core" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>1.0</minVersion>
                <!--
                <isMaxInclusive>false</isMaxInclusive>
                <maxVersion></maxVersion>
                -->
              </dependency>
              <dependency id="Microsoft.AspNet.Mvc" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>5.1</minVersion>
              </dependency>
            </dependencies>
          </package>
          <package id="Sitecore.Speak" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
            <param desc="id">$(id)</param>
            <version>1.0</version>
            <authors>Sitecore</authors>
            <description>This package contains the assemblies for working with Sitecore SPEAK.</description>
            <assemblies hint="list:AddAssembly">
              <assembly>Sitecore.Speak.Client.dll</assembly>
              <assembly>Sitecore.Speak.Mvc.dll</assembly>
            </assemblies>
            <dependencies hint="list:AddDependency">
              <dependency id="Sitecore.Mvc" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>1.0</minVersion>
                <!--
                <isMaxInclusive>false</isMaxInclusive>
                <maxVersion></maxVersion>
                -->
              </dependency>
            </dependencies>
          </package>
        </packages>
      </configuration>
    </nuget>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Strategy.Nuget.Pipelines.Initialize.GeneratePackages, Sitecore.Strategy.Nuget">
          <configuration ref="nuget/configuration" />
        </processor>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>