<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <nuget>
      <configuration type="Sitecore.Strategy.Nuget.Configuration.NugetConfiguration, Sitecore.Strategy.Nuget" singleInstance="true">
        <assemblyPath>~/bin</assemblyPath>
        <packages hint="list:AddPackage">
          <package id="Sitecore.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
            <param desc="id">$(id)</param>
            <version>1.0</version>
            <authors>Sitecore</authors>
            <description>This package contains the runtime assemblies for Sitecore.</description>
            <dependencies hint="list:AddDependency">
              <dependency id="Sitecore.Kernel" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                  <param desc="id">$(id)</param>
                  <isMinInclusive>true</isMinInclusive>
                  <minVersion>1.0</minVersion>
                  <!--
              <isMaxInclusive>false</isMaxInclusive>
              <maxVersion></maxVersion>
              -->
              </dependency>
              <dependency id="Newtonsoft.Json" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>6.0.5</minVersion>
                <!--
                <isMaxInclusive>false</isMaxInclusive>
                <maxVersion></maxVersion>
                -->
              </dependency>
            </dependencies>
          </package>
          <package id="Sitecore.Client.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
              <param desc="id">$(id)</param>
              <version>1.0</version>
              <authors>Sitecore</authors>
              <description>This package contains the assemblies for Sitecore 7 client development.</description>
              <dependencies hint="list:AddDependency">
                <dependency id="Sitecore.Client" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                  <param desc="id">$(id)</param>
                  <isMinInclusive>true</isMinInclusive>
                  <minVersion>1.0</minVersion>
                  <!--
                        <isMaxInclusive>false</isMaxInclusive>
                        <maxVersion></maxVersion>
                    -->
                </dependency>
                <dependency id="Sitecore.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                    <param desc="id">$(id)</param>
                    <isMinInclusive>true</isMinInclusive>
                    <minVersion>1.0</minVersion>
                    <!--
                        <isMaxInclusive>false</isMaxInclusive>
                        <maxVersion></maxVersion>
                    -->
                </dependency>
              </dependencies>
          </package>
          <package id="Sitecore.Mvc.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
              <param desc="id">$(id)</param>
              <version>1.0</version>
              <authors>Sitecore</authors>
              <description>This package contains the assemblies for working with Sitecore MVC.</description>
              <dependencies hint="list:AddDependency">
                <dependency id="Sitecore.Mvc" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                  <param desc="id">$(id)</param>
                  <isMinInclusive>true</isMinInclusive>
                  <minVersion>1.0</minVersion>
                  <!--
                        <isMaxInclusive>false</isMaxInclusive>
                        <maxVersion></maxVersion>
                      -->
                </dependency>
                <dependency id="Sitecore.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                    <param desc="id">$(id)</param>
                    <isMinInclusive>true</isMinInclusive>
                    <minVersion>1.0</minVersion>
                    <!--
                      <isMaxInclusive>false</isMaxInclusive>
                      <maxVersion></maxVersion>
                    -->
                </dependency>
                <dependency id="Microsoft.AspNet.Mvc" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                    <param desc="id">$(id)</param>
                    <isMinInclusive>true</isMinInclusive>
                    <minVersion>5.1</minVersion>
                </dependency>
              </dependencies>
          </package>
          <package id="Sitecore.ExperienceEditor.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
             <param desc="id">$(id)</param>
             <version>1.0</version>
             <authors>Sitecore</authors>
             <description>This package contains the assemblies for working with the Sitecore Experience Editor.</description>
             <dependencies hint="list:AddDependency">
               <dependency id="Sitecore.ExperienceEditor" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                 <param desc="id">$(id)</param>
                 <isMinInclusive>true</isMinInclusive>
                 <minVersion>1.0</minVersion>
                 <!--
                        <isMaxInclusive>false</isMaxInclusive>
                        <maxVersion></maxVersion>
                     -->
               </dependency>
               <dependency id="Sitecore.ExperienceEditor.Speak" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                 <param desc="id">$(id)</param>
                 <isMinInclusive>true</isMinInclusive>
                 <minVersion>1.0</minVersion>
                 <!--
                        <isMaxInclusive>false</isMaxInclusive>
                        <maxVersion></maxVersion>
                     -->
               </dependency>
                 <dependency id="Sitecore.Client.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                     <param desc="id">$(id)</param>
                     <isMinInclusive>true</isMinInclusive>
                     <minVersion>1.0</minVersion>
                     <!--
                        <isMaxInclusive>false</isMaxInclusive>
                        <maxVersion></maxVersion>
                     -->
                 </dependency>
             </dependencies>
          </package>
          <package id="Sitecore.Analytics.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
              <param desc="id">$(id)</param>
              <version>1.0</version>
              <authors>Sitecore</authors>
              <description>This package contains the assemblies for working with the Sitecore Experience Database.</description>
              <dependencies hint="list:AddDependency">
                <dependency id="Sitecore.Analytics" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                  <param desc="id">$(id)</param>
                  <isMinInclusive>true</isMinInclusive>
                  <minVersion>1.0</minVersion>
                  <!--
                      <isMaxInclusive>false</isMaxInclusive>
                      <maxVersion></maxVersion>
                      -->
                </dependency>
                <dependency id="Sitecore.Analytics.Automation" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                  <param desc="id">$(id)</param>
                  <isMinInclusive>true</isMinInclusive>
                  <minVersion>1.0</minVersion>
                  <!--
                      <isMaxInclusive>false</isMaxInclusive>
                      <maxVersion></maxVersion>
                      -->
                </dependency>
                <dependency id="Sitecore.Analytics.Core" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                  <param desc="id">$(id)</param>
                  <isMinInclusive>true</isMinInclusive>
                  <minVersion>1.0</minVersion>
                  <!--
                      <isMaxInclusive>false</isMaxInclusive>
                      <maxVersion></maxVersion>
                      -->
                </dependency>
                <dependency id="Sitecore.Analytics.Model" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                  <param desc="id">$(id)</param>
                  <isMinInclusive>true</isMinInclusive>
                  <minVersion>1.0</minVersion>
                  <!--
                      <isMaxInclusive>false</isMaxInclusive>
                      <maxVersion></maxVersion>
                      -->
                </dependency>
                  <dependency id="Sitecore.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                      <param desc="id">$(id)</param>
                      <isMinInclusive>true</isMinInclusive>
                      <minVersion>1.0</minVersion>
                      <!--
                      <isMaxInclusive>false</isMaxInclusive>
                      <maxVersion></maxVersion>
                      -->
                  </dependency>
              </dependencies>
          </package>
          <package id="Sitecore.Mvc.Analytics.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
              <param desc="id">$(id)</param>
              <version>1.0</version>
              <authors>Sitecore</authors>
              <description>This package contains the assemblies for working with Analytics in Sitecore MVC.</description>
              <dependencies hint="list:AddDependency">
                <dependency id="Sitecore.Mvc.Analytics" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                  <param desc="id">$(id)</param>
                  <isMinInclusive>true</isMinInclusive>
                  <minVersion>1.0</minVersion>
                  <!--
                      <isMaxInclusive>false</isMaxInclusive>
                      <maxVersion></maxVersion>
                      -->
                </dependency>
                  <dependency id="Sitecore.Mvc.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                      <param desc="id">$(id)</param>
                      <isMinInclusive>true</isMinInclusive>
                      <minVersion>1.0</minVersion>
                      <!--
                      <isMaxInclusive>false</isMaxInclusive>
                      <maxVersion></maxVersion>
                      -->
                  </dependency>
                  <dependency id="Sitecore.Analytics.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                      <param desc="id">$(id)</param>
                      <isMinInclusive>true</isMinInclusive>
                      <minVersion>1.0</minVersion>
                      <!--
              <isMaxInclusive>false</isMaxInclusive>
              <maxVersion></maxVersion>
              -->
                  </dependency>
              </dependencies>
          </package>
          <package id="Sitecore.Buckets.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
              <param desc="id">$(id)</param>
              <version>1.0</version>
              <authors>Sitecore</authors>
              <description>This package contains the assemblies for working with Buckets in Sitecore.</description>
              <dependencies hint="list:AddDependency">
                <dependency id="Sitecore.Buckets" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                  <param desc="id">$(id)</param>
                  <isMinInclusive>true</isMinInclusive>
                  <minVersion>1.0</minVersion>
                  <!--
                    <isMaxInclusive>false</isMaxInclusive>
                    <maxVersion></maxVersion>
                  -->
                </dependency>
                  <dependency id="Sitecore.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                      <param desc="id">$(id)</param>
                      <isMinInclusive>true</isMinInclusive>
                      <minVersion>1.0</minVersion>
                      <!--
            <isMaxInclusive>false</isMaxInclusive>
            <maxVersion></maxVersion>
            -->
                  </dependency>
              </dependencies>
          </package>
          <package id="Sitecore.ContentSearch.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
            <param desc="id">$(id)</param>
            <version>1.0</version>
            <authors>Sitecore</authors>
            <description>This package contains the assemblies for Sitecore 7 content search.</description>
            <dependencies hint="list:AddDependency">
              <dependency id="Sitecore.ContentSearch" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>1.0</minVersion>
                <!--
                <isMaxInclusive>false</isMaxInclusive>
                <maxVersion></maxVersion>
                -->
              </dependency>
              <dependency id="Sitecore.ContentSearchLinq" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>1.0</minVersion>
                <!--
                <isMaxInclusive>false</isMaxInclusive>
                <maxVersion></maxVersion>
                -->
              </dependency>
              <dependency id="Sitecore.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>1.0</minVersion>
                <!--
                <isMaxInclusive>false</isMaxInclusive>
                <maxVersion></maxVersion>
                -->
              </dependency>
            </dependencies>
          </package>
          <package id="Sitecore.Packaging.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
              <param desc="id">$(id)</param>
              <version>1.0</version>
              <authors>Sitecore</authors>
              <description>This package contains the assemblies for Sitecore packaging with update packages.</description>
              <dependencies hint="list:AddDependency">
                <dependency id="Sitecore.Logging" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                  <param desc="id">$(id)</param>
                  <isMinInclusive>true</isMinInclusive>
                  <minVersion>1.0</minVersion>
                  <!--
                        <isMaxInclusive>false</isMaxInclusive>
                        <maxVersion></maxVersion>
                      -->
                </dependency>
                <dependency id="Sitecore.Update" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                  <param desc="id">$(id)</param>
                  <isMinInclusive>true</isMinInclusive>
                  <minVersion>1.0</minVersion>
                  <!--
                        <isMaxInclusive>false</isMaxInclusive>
                        <maxVersion></maxVersion>
                      -->
                </dependency>
                <dependency id="Sitecore.Zip" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                  <param desc="id">$(id)</param>
                  <isMinInclusive>true</isMinInclusive>
                  <minVersion>1.0</minVersion>
                  <!--
                        <isMaxInclusive>false</isMaxInclusive>
                        <maxVersion></maxVersion>
                      -->
                </dependency>
                  <dependency id="Sitecore.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                      <param desc="id">$(id)</param>
                      <isMinInclusive>true</isMinInclusive>
                      <minVersion>1.0</minVersion>
                      <!--
                        <isMaxInclusive>false</isMaxInclusive>
                        <maxVersion></maxVersion>
                      -->
                  </dependency>
              </dependencies>
          </package>
          <package id="Sitecore.Speak.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
            <param desc="id">$(id)</param>
            <version>1.0</version>
            <authors>Sitecore</authors>
            <description>This package contains the assemblies for working with Sitecore SPEAK.</description>
            <dependencies hint="list:AddDependency">
              <dependency id="Sitecore.Speak.Client" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>1.0</minVersion>
                <!--
                <isMaxInclusive>false</isMaxInclusive>
                <maxVersion></maxVersion>
                -->
              </dependency>
              <dependency id="Sitecore.Speak.Mvc" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>1.0</minVersion>
                <!--
                <isMaxInclusive>false</isMaxInclusive>
                <maxVersion></maxVersion>
                -->
              </dependency>
              <dependency id="Sitecore.Speak.Components" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>1.0</minVersion>
                <!--
                <isMaxInclusive>false</isMaxInclusive>
                <maxVersion></maxVersion>
                -->
              </dependency>
              <dependency id="Sitecore.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>1.0</minVersion>
                <!--
                <isMaxInclusive>false</isMaxInclusive>
                <maxVersion></maxVersion>
                -->
              </dependency>
              <dependency id="Sitecore.Mvc.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>1.0</minVersion>
                <!--
                <isMaxInclusive>false</isMaxInclusive>
                <maxVersion></maxVersion>
                -->
              </dependency>
            </dependencies>
          </package>
          <package id="Sitecore.Services.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
            <param desc="id">$(id)</param>
            <version>1.0</version>
            <authors>Sitecore</authors>
            <description>This package contains the assemblies for Sitecore services.</description>
            <dependencies hint="list:AddDependency">
              <dependency id="Sitecore.Services.Client" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>1.0</minVersion>
                <!--
                <isMaxInclusive>false</isMaxInclusive>
                <maxVersion></maxVersion>
                -->
              </dependency>
              <dependency id="Sitecore.Services.Core" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>1.0</minVersion>
                <!--
                <isMaxInclusive>false</isMaxInclusive>
                <maxVersion></maxVersion>
                -->
              </dependency>
              <dependency id="Sitecore.Services.Infrastructure" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>1.0</minVersion>
                <!--
                <isMaxInclusive>false</isMaxInclusive>
                <maxVersion></maxVersion>
                -->
              </dependency>
              <dependency id="Sitecore.Services.Infrastructure.Sitecore" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>1.0</minVersion>
                <!--
                <isMaxInclusive>false</isMaxInclusive>
                <maxVersion></maxVersion>
                -->
              </dependency>
              <dependency id="Sitecore.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>1.0</minVersion>
                <!--
                <isMaxInclusive>false</isMaxInclusive>
                <maxVersion></maxVersion>
                -->
              </dependency>
              <dependency id="Microsoft.AspNet.Mvc" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>5.1</minVersion>
              </dependency>
              <dependency id="Microsoft.AspNet.WebApi" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                <param desc="id">$(id)</param>
                <isMinInclusive>true</isMinInclusive>
                <minVersion>5.1</minVersion>
              </dependency>
            </dependencies>
          </package>
          
          <!-- Packages not found in outher Sitecore Nuget Package Generator -->
          <package id="Sitecore.ContentSearch.Analytics.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
              <param desc="id">$(id)</param>
              <version>1.0</version>
              <authors>Sitecore</authors>
              <description>This package contains the assemblies for working with the Sitecore analytics index.</description>
              <dependencies hint="list:AddDependency">
                <dependency id="Sitecore.ContentSearch.Analytics" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                  <param desc="id">$(id)</param>
                  <isMinInclusive>true</isMinInclusive>
                  <minVersion>1.0</minVersion>
                </dependency>
                  <dependency id="Sitecore.Analytics.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                      <param desc="id">$(id)</param>
                      <isMinInclusive>true</isMinInclusive>
                      <minVersion>1.0</minVersion>
                  </dependency>
                  <dependency id="Sitecore.ContentSearch.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                      <param desc="id">$(id)</param>
                      <isMinInclusive>true</isMinInclusive>
                      <minVersion>1.0</minVersion>
                  </dependency>
              </dependencies>
          </package>
          <package id="Sitecore.Configuration.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.PackageDescriptor, Sitecore.Strategy.Nuget">
              <param desc="id">$(id)</param>
              <version>1.0</version>
              <authors>Sitecore</authors>
              <description>This package contains the assemblies required when using Sitecore's configuration factory.</description>
              <dependencies hint="list:AddDependency">
                <dependency id="Sitecore.Logging" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                  <param desc="id">$(id)</param>
                  <isMinInclusive>true</isMinInclusive>
                  <minVersion>1.0</minVersion>
                  <!--
                    <isMaxInclusive>false</isMaxInclusive>
                    <maxVersion></maxVersion>
                  -->
                </dependency>
                <dependency id="Lucene.Net" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                  <param desc="id">$(id)</param>
                  <isMinInclusive>true</isMinInclusive>
                  <minVersion>3.0</minVersion>
                  <!--
                    <isMaxInclusive>false</isMaxInclusive>
                    <maxVersion></maxVersion>
                  -->
                </dependency>
                  <dependency id="Sitecore.CoreGroup" type="Sitecore.Strategy.Nuget.Configuration.DependencyDescriptor, Sitecore.Strategy.Nuget">
                      <param desc="id">$(id)</param>
                      <isMinInclusive>true</isMinInclusive>
                      <minVersion>1.0</minVersion>
                      <!--
              <isMaxInclusive>false</isMaxInclusive>
              <maxVersion></maxVersion>
              -->
                  </dependency>
              </dependencies>
          </package>
        </packages>
      </configuration>
    </nuget>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Strategy.Nuget.Pipelines.Initialize.GeneratePackages, Sitecore.Strategy.Nuget">
          <configuration ref="nuget/configuration" />
        </processor>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>